@mixin position-center($width, $height) {
  position: absolute;
	top: 50%;
	left: 50%;
	@if $width  != '' { margin-left: -$width / 2; }
	@if $height != '' { margin-top: -$height / 2; }
}

@mixin position($position, $keyword, $value1, $value2) {
  position: $position;
  @if $keyword == tr {
    top: $value1;
    right: $value2;
  } @else if $keyword == tl {
    top: $value1;
    left: $value2;
  } @else if $keyword == br {
    bottom: $value1;
    right: $value2;
  } @else if $keyword == bl {
    bottom: $value1;
    left: $value2;
  }
}
@mixin retina_background($url, $option) {
  background: image-url($url) + " #{$option}";
  background-size: round(image-width($url) / 2) round(image-height($url) / 2);
}
@mixin ir($url) {
  width: round(image-width($url));
  height: round(image-height($url));
  @extend %ir;
  background: url($url) no-repeat center center;
}
@mixin list_deco($url,$top,$left,$width,$height){
  display: block;
  position: absolute;
  content: '';
  width: $width;
  height: $height;
  top: $top;
  left: $left;
  background: image-url($url) no-repeat top left;
}
@mixin sprite_img($map, $name, $map_url, $max_width) {
    background-image: $map_url;
    background-repeat: no-repeat;
    display: block;
    height: image-height(sprite-file($map, $name));
    width: image-width(sprite-file($map, $name));
    $ypos: round(nth(sprite-position($map, $name), 2));
    background-position: 0 $ypos;
    @include background-size($max_width auto);
}
@mixin sprite_img_retina($map, $name, $map_url, $max_width) {
    background-image: $map_url;
    background-repeat: no-repeat;
    display: block;
    height: image-height(sprite-file($map, $name)) / 2;
    width: image-width(sprite-file($map, $name)) / 2;
    $ypos: round(nth(sprite-position($map, $name), 2) / 2);
    background-position: 0 $ypos;
    @include background-size(($max_width / 2) auto);
}
