
@mixin absolute($top,$right,$bottom,$left) {
  position: absolute;
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
}
@mixin fixed($top,$right,$left,$bottom) {
  position: fixed;
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
}
@mixin opacity($value) {
    opacity: $value;
  filter: alpha(opacity=$value * 100);
  *zoom: 1;
}
@mixin retina_background($url, $option) {
  background: image-url($url) + " #{$option}";
  background-size: image-width($url) / 2 image-height($url) / 2;  
}

@mixin list_deco($url,$top,$left,$width,$height){
  display: block;
  position: absolute;
  content: '';
  width: $width;
  height: $height;
  top: $top;
  left: $left;
  background: image-url($url) no-repeat top left;
}
