@charset "UTF-8";

#contents {
  width: 100%;
  height: 100%;
  position: relative;
    min-height:$main-img-height + $footer-height;
  
  #main {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: ( ($main-img-height / 2 * -1 ) + $footer-height ) - $main-position-offset;
    margin-left: $main-img-width / 2 * -1;
    width: $main-img-width;
    height: $main-img-height;
    background: url('../img/logo.png') no-repeat top left;
    

    .title {
      width: 385px;
      height: 39px; 
      margin: 165px 0 0 54px;     

        &.unavailable {
          background: url('../img/503.png') no-repeat top left;
        }
        &.servererror {
          background: url('../img/500.png') no-repeat top left;
        }
        &.unprocessable {
          background: url('../img/422.png') no-repeat top left;
        }
        &.notfound {
          background: url('../img/404.png') no-repeat top left;
        }
    }
    .top-btn {
      display: block;
      width: 103px;
      height: 14px;
      margin: 27px auto 0 auto;
        background: url('../img/top-btn.png') no-repeat top left;
    }
  }

  #footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    height: 32px; 
    background-color: $footer-color; 
    
    .navi {
      width: $main-img-width;
      margin: 0 auto;
      height: 100%;

      ul {
          width: 160px;
        height: $footer-height;
          margin: 0 auto;
          line-height: 36px; 
      }       
        .copyright {
          height: 12px;
          display: inline-block;
          background: url('../img/copyright.png') no-repeat top center;   
        }
    }
  }
}

